/*iPads and tablets - portrait*/
@media screen and (max-width: 768px) {
    [aria-controls="navbarDropdown"] {
        display: block;
        position: absolute;
        right: var(--size-20);
        top: var(--size-10);
        outline: none;
        background-color: transparent;
        border: 1px solid transparent;
    }

    [aria-expanded="false"] ~ ul {
        display: none;
    }

    [aria-expanded="true"] ~ ul {
        
        display: block;


    }
}

